[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
langgraph = "*"
langchain-core = "*"
langchain = "*"
chromadb = "*"
langchain-chroma = "*"
pypdf = "*"
python-docx = "*"
langchain-community = "*"
langchain-text-splitters = "*"
langchain-openai = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask = "*"
flask-smorest = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

[scripts]
main = "python -m main"
